*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
}
.mark{
    background-color: aquamarine;
    height: 400px;
}
.score{
    margin-left: 350px;
    padding-top: 50px;
}
table,tr,th,td{
    border: solid 1px black;
    border-collapse: collapse;
}
th{
    padding: 10px;
}
.td{
    padding: 10px;
}
input{
   width: 200px;
   height: 50px;
   margin-left: 20px;
   font-size: 20px;
   text-align: center;
   margin-top: 20px;
}
.submit{
    text-align: center;
    margin-top: 30px;
}
.submit button{
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    border: none;
}
